
<!DOCTYPE html>
<html lang="en" ng-app="serviceChecker">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mary Rigg Service Area Checker</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <style>
    .angular-google-map {
      display: block;
    }
    </style>

    <!-- Angular JS -->
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/serviceChecker.js"></script>
    <script type="text/javascript" src="js/angular-google-maps.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClrTp5kG0k6-mgHFZE4_HDmejpNNetrEU&sensor=false"></script>

    <!-- Custom styles for this template -->
    <!--<link href="css/grid.css" rel="stylesheet">-->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="ServiceCtrl">
    <div class="container">

      <div class="page-header">
        <h1>Mary Rigg Service Area Checker</h1>
        <p class="lead">Developed by <a href="mailto:jvall@purdue.edu">John Vall</a>, special thanks to Austin Schwartz.</p>
      </div>

      <h3></h3>
      <p>Search just one or multiple addresses. You can hit enter without clicking "Check" each time.

      <div class="row">
        <div class="col-md-6">

          <div class="collapse navbar-collapse">
            <ul class="nav nav-tabs nav-justified">
              <li ng-class="navClass('single')" ng-click="showSingle()"><a href="#">Check One Address</a></li>
              <li ng-class="navClass('multiple')" ng-click="showMultiple()"><a href="#">Check Multiple</a></li>
            </ul>
          </div>

          <!-- SINGLE section -->
          <div ng-hide="hideSingleSection">
            <h3></h3>
            <form ng-submit="singleSearch()">
              <div class="row">
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="Address" ng-model="singleSearchText">
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-default">Check</button>
                </div>
              </div>
            </form>
          </div>

          <!-- MULTIPLE section -->
          <div ng-hide="hideMultipleSection">
            <form ng-submit="multipleSearch()">
              <h3></h3>
              <div class="row">
                <div class="col-md-8">
                  <textarea class="field span12" id="textarea" rows="6" cols="50" placeholder="Enter multiple addresses..." ng-model="multipleSearchText"></textarea>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12">
                      <p>Separated by:</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p><input type="radio" name="delimit" ng-click="delimeter = ';'" checked="checked" /> Semicolon</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p><input type="radio" name="delimit" ng-click="delimeter = ' '" /> Space</p>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-default">Check</button>
                </div>
              </div>
            </form>
          </div>

        </div>
        <!-- RESULTS -->
        <div class="col-md-6">
          <h3>Results</h3>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-12">
          <google-map
          center="centerProperty"
          zoom="zoomProperty" 
          markers="markers"
          latitude="clickedLatitudeProperty"
          longitude="clickedLongitudeProperty"
          mark-click="true"
          draggable="true"
          style="height: 450px; width: 100%">
        </google-map>
        </div>
      </div>
      

    </div> 
  </body>
</html>
